@page "{id}"
@model H2Razor.Pages.EditModel
@{
}

<div>
    <form method="post">

        <label>id</label>
        <input type="text" name="id" readonly="@(true)" asp-for="@Model.Todo.Id" />
        <br />

        <label>Creation date</label>
        <input type="datetime-local" name="CreateDate" asp-for="@Model.Todo.CreatedTime" asp-format="{0:yyyy-MM-ddTHH:mm}" />
        <br />
        <label>Task description</label>
        <input type="text" name="TaskDescription" asp-for="@Model.Todo.TaskDescription" />
        <br />
        <label>Priority</label>
        <select name="prio" asp-for="@Model.Todo.Priority" asp-items="Html.GetEnumSelectList<Model.Prio>()" >

        </select>
        <br />
        <label>Is Completed</label>
        <input type="checkbox" name="IsCompleted" asp-for="@Model.Todo.IsCompleted" />
        <br />
        <input type="hidden" name="sqlId" asp-for="@Model.Todo.SqlID"/>
        <br />

        <button type="submit" >Save</button>



    </form>


</div>

