@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <form asp-page="Create" method="get">
            <button class="btn btn-primary">Create Todo</button>
        </form>

    </div>

    <div>
        <form method="post">
            <table>

                @foreach (var item in Model.toDoList)
                {
                    @if (item.IsCompleted == false)
                    {

                        <tr class="table">
                            <td>@Html.DisplayFor(m => item.Id)</td>
                            <td>@Html.DisplayFor(m => item.CreatedTime)</td>
                            <td>@Html.DisplayFor(m => item.TaskDescription)</td>
                            <td>@Html.DisplayFor(m => item.Priority)</td>
                            <td>@Html.DisplayFor(m => item.IsCompleted)</td>
                            @*  <td><button asp-page="./edit" asp-route-id="">edit</button></td>*@
                            @*<td><a asp-page="./Edit" asp-route-id="@item.Id">Edit</a></td>*@
                            <td> <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a></td>
                        </tr>

                    }

                }
            </table>
        </form>
    </div>
</div>
